////
/// @group uthsc-program-explorer
////

@mixin uthsc-program-explorer {
  .uthsc-program-explorer-heading {
    text-align: center;
    background: $uthsc-green;
  }
  .uthsc-program-explorer {
    height:407px;

    h2 {
      color:#fff;
      font-size: 2.4rem;

      &.subheader {
        font-size: 1rem;
      }
    }

    .uthsc-program-explorer-tabs {

      ul.tabs {
        margin-right: 0;
        left: auto;
        margin-left: initial;
        text-indent: initial;

        li {
          width: 100%;
          line-height: initial;
          padding: initial;
          margin-left: initial;

          a {
            padding: 1.13rem;
            font-size: 1.3rem;
            font-weight: 300;
            padding-left: 1.5rem;

            &:hover {
              color: #fff;
              background-color: $uthsc-blue-dark;
            }
          }
          &.tabs-title {
            border-bottom: 1px solid #bbb;
            background-color: #eee;

            a:after {
              font-family: fontawesome;
              content: '\f054\ ';
              float: right;
              font-size: 0.9rem;
              margin-top: 0.2rem;
            }

            &> a[aria-selected='true'] {
              color: #222;
              background-color: #fff;
              border-left: 4px solid $uthsc-orange;
              padding-left: 1.25rem;
              &:after {
                color: $uthsc-orange;
              }
            }
          }

          &:before {
            content: "";
          }
        }
      }
      .uthsc-program-explorer-content {
        height: 100%;

        ul {
          list-style-type: none;
          line-height: 1.7rem;
        }
      }
      .tabs-content.vertical {
        border-left: 0;
        @include breakpoint(medium) {
          overflow: scroll;
          -ms-overflow-style: scrollbar;
          -ms-scroll-limit-x-max: 0;
          overflow-x: hidden;
          overflow-x: visible;
          height: 346px;
        }
      }


      /* Scrollbar styles */
      ::-webkit-scrollbar {
        width: 15px;
        height: 0;
      }

      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 10px #ddd;
        border-radius: 30px;
      }

      ::-webkit-scrollbar-thumb {
        border-radius: 30px;
        background: #ddd;
        //box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
      }
    }

    .accordion-title {
      border-left: 4px solid $uthsc-orange;
    }

    .accordion-content {
      max-height: 40vh;
      overflow: scroll;
    }

    .uthsc-did-you-know {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.35)), url("../images/pharmacy-grads.jpg");
      background-size: cover;
      background-position: 83%;
      height: 100%;
      color: #fff;
      font-weight: bold;

      @include breakpoint(medium) {
        border-left: 2rem solid #fff;
      }

      h2 {
        border-bottom: 0.4rem solid $uthsc-green;
        padding: 1rem;
      }
      p {
        font-size: 1.8rem;
        &.uthsc-did-you-know-number {
          font-size: 6rem;
          color: #f77f00;
          font-weight: bold;
          margin: 0;
          line-height: 0.9;
        }
      }

      @include breakpoint(medium only) {
        h2 {
          font-size: 1.5em;
        }
        p{
          font-size: 1.25em;
          &.uthsc-did-you-know-number {
            font-size: 4em;
          }
        }

      }

    }
  }
}